body {
	background-color: #FBF7F4;
}

h1 {
	margin: auto;
	text-align: center;
}

.review-split {
	width: 45%;
}

.title-rule {
	width: 60%;
}

.review {
	width: 500px;
	margin: auto;
}

.infoarea {
	margin: auto;
	text-align: center;
}


